*{
    margin: 0;padding: 0;
}
body{
    background: url(../img/background.jpg); 
}
.main{
    float: left; height: auto; width: auto; margin: 0 auto;
}
.clear{
    overflow: hidden;
}
.spadding-top{
    padding-top: 40px;
}
.spadding-bottom{
    padding-bottom: 40px;
}
.top-header{
    background: #719B1D; width: 100%; height: auto; float: left;
}
.top-menu{
    width: 960px; margin: 0 auto;
}
.top-menu-leftside{
   float: left;
}
.top-menu-leftside ul{
    list-style: none;
}
.top-menu-leftside ul li{
    float: left; border-bottom: 4px solid #719B1D
}
.top-menu-leftside ul li a{
    text-decoration: none; display: block; font-size: 17px; color: white; padding: 8px;
}
.top-menu-leftside ul li a:hover{
    background: white; color: #719B1D; box-shadow:0px 2px 0px 0px #ACACAC; border-radius: 0px 0px 5px 5px; 
}

.top-menu-rightside{
    float: right;
}
.lang{
    background: white; color: #719B1D; padding: 6px; font-size: 17px; box-shadow:0px 1px 0px 0px #ACACAC; border-radius: 0 0 5px 5px;
}
.doller{
    background: white; color: #719B1D; padding: 6px; font-size: 17px; box-shadow:0px 1px 0px 0px #ACACAC; border-radius: 0 0 5px 5px;
}
.mid-header{
    background: white; height: auto; float: left; width: 100%; margin: 0 auto; padding: 20px;
}
.container{
 width: 960px; margin: 0 auto; height: auto;
}
.logo{
    font-size: 25px; float: left; width: 50%;
}
.mid-rightside{
    width: auto; float: right; text-align: right; 
}
.mid-rightside a{
    text-decoration: none; display: block; float: left; color: #719B1D; font-size: 18px;
    margin-right: 20px; padding: 10px;
}

.mid-rightside a:hover{
    color: white; background: #719B1D; border-radius: 5px;
}
.main-menu{
    background: #F3F3F3; float: left; width: 100%;margin: 0 auto; padding: 7px; 
}
.menu{

}
.menu ul{
  list-style: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    font-size: 17px; display: block; padding: 10px 18px; text-decoration: none; color: #719B1D; border-bottom: 2px solid #F3F3F3;
}

.menu ul li a:hover{

    background: #719B1D; color: white; border-radius:5px; border-bottom: 2px solid black;
}
.slider{
    width: 100%; float: left;
}
.future{
    width: 100%; float: left; background: #719B1D; padding: 10px;
}

.shopping{
    width: 225px; height: 70px; background: #83B228; float: left; margin-right: 20px; border-radius: 5px; box-shadow: 0 2px 0 0 #4B6E08;
}
.store{
    width: 225px; height: 70px; background: #83B228; float: left; margin-right: 20px;
    border-radius: 5px; box-shadow: 0 2px 0 0 #4B6E08;
}
.time{
    width: 225px; height: 70px; background: #83B228; float: left; margin-right: 20px;
    border-radius: 5px; box-shadow: 0 2px 0 0 #4B6E08;
}
.delivery{
    width: 225px; height: 70px; background: #83B228; float: left;
    border-radius: 5px; box-shadow: 0 2px 0 0 #4B6E08;
}
.future-icon{
    float: left; color: white; font-size: 35px; padding: 15px;
}
.future-content{
    float: left; margin-top: 15px;
}
.future-content h3{
    color: white;
}

.product-area{
    float: left; width: 100%; height: auto;
}
.product-menu{
  background: #719B1D; float: left; width: 100%; height: ; padding-top: 5px;
}
.product-menu ul{
    list-style: none; margin-left: 245px; 
}
.product-menu ul li{
    float: left;
}
.product-menu ul li a{
    color: white; font-size: 20px; padding: 10px 20px; display: block; text-decoration: none;
}
.product-menu ul li a:hover{
    background: white; color: #719B1D; border-radius: 5px 5px 0 0;
}
.product{
   height: 400px; width: 297px; float: left; margin-right: 20px; padding: 3px; background: #EFEFEF;
}
.product-img{
    height: 310px; width: 100%; float: left; background: white; 
}
.product-img img{
    width:  100%; height: 310px;
}
.product-text{
    
}
.product3{
   height: 400px; width: 297px; float: right; background: #EFEFEF; padding: 3px; padding-bottom: 3px;
}
.product-img{
    height: 310px; width: 100%; float: left; background: white; 
}
.product-img img{
    width:  100%; height: 310px; overflow: inherit;
}
.product-text{
    float: left; height: 100px; width: 100%; position: relative;
}
.product-text h3{
    background: white; border: 2px solid #CACACA; border-radius: 5px; padding: 5px 20px; text-align: center;margin: 0 10px; margin-top: -20px; overflow: inherit; color: #719B1D;
}
.product-text h2{
    text-align: center; margin: 10px 0; color: #719B1D;
}
.overly{
    position: absolute; width: 100%; height: 100%; margin-left: 14px; bottom: -100%;
}

.shopping-btn{
    font-size: 20px; padding: 10px 10px; color: #719B1D; background: white; border: none; box-shadow: 0 3px 0 0 #CACACA; border-radius: 5px; margin-right: 5px;
}
.fab{
    font-size: 30px;
}
.edit-btn{
    font-size: 30px; padding: 8px 10px; color: #719B1D; background: white; border: none; box-shadow: 0 3px 0 0 #CACACA; border-radius: 5px; margin-right: 5px;
}
.exchange-btn{
    font-size: 30px; padding: 8px 10px; color: #719B1D; background: white; border: none; box-shadow: 0 3px 0 0 #CACACA; border-radius: 5px;
}
.product:hover{
    background: #719B1D;
}
.product:hover .overly{
    bottom: -26%;
}
.product3:hover{
    background: #719B1D;
}
.product3:hover .overly{
    bottom: -26%;
}

.offer-area{
    float: left; width: 100%; height: auto; margin-bottom: 40px;
}
.oborder{
    border: 3px solid #EFEFEF; background: white;
}
.offer-img{
    float: left; width: 480px; height: 415px; position: relative;
}
.offer-price{
    position: absolute; width: 160px; height: 160px; border-radius: 50%; background:  #719B1D; top: 10px; right: 10px;
}
.price-text{
    margin-top:45px; margin-left: 35px;
}
.offer-text{
    float: right;height: 295px; width: 439px;  background:; padding: 30px 20px 0px 20px;
}
.cutdown-stafwatch{
    float: right; height: 60px; width: 439px;  background:; padding: 0px 20px 30px 20px; color: white;
}
.cutdown-stafwatch td{
    background: #719B1D; box-shadow: 0 2px 0 0 #4B6E08;  text-align: center;  font-size: 17px; width: 70px;
}
.center{
    margin: 0 auto;
}


.subscribe-area{
    float: left; background: url(../img/subcribed.jpg); height: 250px; width: 100%;
}
.subscribe-text{
    width: 800px; height: ; margin: 0 auto; color: white; text-align: center;
}
.subscribe-text h1{
    padding: 20px 0; font-size: 40px;
}
.subscribe-text input{
     background: rgba(248, 242, 242, 0.62); font-size: 20px; padding: 10px 20px; border-radius: 5px; border: 2px solid #4B6E08;  color: #6D981A; 
}

.laptop-area{
    float: left; width: 100%; height: auto; margin-top: 40px;
}

.laptop-menu{
    background: #719B1D; float: left; width: 100%; height: auto; margin-bottom: 40px;
}
.laptop-menu ul{
    list-style: none; padding-top: 5px; width: 60px; margin: 0 auto;
}
.laptop-menu ul li{
    float: left; text-align: center;
}
.laptop-menu ul li a{
    font-size: 20px; color: #719B1D; background: white; padding: 10px 20px; text-decoration: none; display: block; border-radius: 5px 5px 0 0;
}


.desktop-area{
    float: left; width: 100%; height: auto; margin-top: 40px;
}

.desktop-menu{
    background: #719B1D; float: left; width: 100%; height: auto; margin-bottom: 40px;
}
.desktop-menu ul{
    list-style: none; padding-top: 5px; width: 60px; margin: 0 auto;
}
.desktop-menu ul li{
    float: left; text-align: center;
}
.desktop-menu ul li a{
    font-size: 20px; color: #719B1D; background: white; padding: 10px 20px; text-decoration: none; display: block; border-radius: 5px 5px 0 0;
}

.brand-area{
    float: left; width: 100%; height: auto; 
}
.brand-area h2{
    width: 200px; font-size: 30px; height: ; background: #709A1C; color: white; padding: 10px; text-align: center; border-radius: 5px; box-shadow: 0 3px 0 0 #4B6E08; margin: 0 auto; margin-bottom: 40px;
}

.brand-img{
    float: left; width: 100%;height: auto;
}
.brand-img img{
    width: 180px; height: 100px; float: left; border: 2px solid #F1F1F1; margin-right: 5px;
}
.bottom-menu-area{
    float: left; width: 100%; height: auto; background: #F1F1F1;
}
.information{
    float: left; margin-right: 10px; height: auto;  width: 232px; color: #719B1D; font-size: 15px;
}
.information ul{
    list-style: none;
}
.information ul li{
   float: ;
}
.information ul li a{
   display: block; text-decoration: none; padding: 5px 0;
}
.information ul li a:hover{
    color: #719B1D;
}
.information i{
    padding: 0 5px 0 0;
}

.from{
    float: left; margin-right: 10px; height: auto;  width: 232px; color: #719B1D; font-size: 15px;
}
.from ul{
    list-style: none;
}
.from ul li{
   float: ;
}
.from ul li a{
   display: block; text-decoration: none; padding: 5px 0; margin-left: 10px;
}
.from ul li a:hover{
    color: #719B1D;
}
.from i{
    padding: 0 10px 0 0;
}

.account{
    float: left; margin-right: 10px; height: auto;  width: 232px; color: #719B1D; font-size: 15px;
}

.account ul{
    list-style: none;
}
.account ul li{
   float: ;
}
.account ul li a{
   display: block; text-decoration: none; padding: 5px 0; margin-left: 10px;
}
.account ul li a:hover{
    color: #719B1D;
}
.account i{
    padding: 0 10px 0 0;
}



.contact{
    float: right; height: auto;  width: 232px; color: #719B1D; font-size: 15px;
}

.contact ul{
    list-style: none;
}
.contact ul li{
   float: ;
}
.contact ul li a{
   display: block; text-decoration: none; padding: 5px 0; margin-left: 10px;
}
.contact ul li a:hover{
    color: #719B1D;
}
.contact i{
    padding: 0 10px 0 0;
}

.card-social-area{
    float: left; background: #E0E0E0; width: 100%; padding: 5px 0;
}
.card{
    float: left; width: 50%;
}
.card img{
    width: 60px; height: 20x; border-radius: 5px; border: 2px solid white;
}
.card h2{
    background: #709A1C; box-shadow: 0px 3px 0px 0px #4B6E08; font-size: 17px; padding: 8px 20px; border-radius: 5px; margin-right: 5px;; float: left;
}
.social{
    float: left; width: 50%;
}
.social h2{
    background: #709A1C; font-size: 17px; padding: 8px 20px; border-radius: 5px; margin-right: 5px; float: left; box-shadow: 0 3px 0 0 #4B6E08; margin-left: 15px;
}
.social i{
    font-size: 30px; background: #709A1C; padding: 5px 10px; border-radius: 5px; border: 1px solid white; color: white; width: 30px; height: 30px; text-align: center; margin-left: 15px;
}

.footer{
    float: left; background: #719B1D; width: 100%; padding:; text-align: center; color: white;font-size: 20px; height: ; padding: 20px 0;
}
.footer a{
    color: white; text-decoration: none;
}
